// Navigation code here


nav{
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: aliceblue;
    .navigation{
        // border: 1px solid red;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 200px;
        font-size: 1.5rem;
        a{
            color:black; 
        }//This closes the a tag
    }//This cloese the .navigation
    h2{
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }//This closes the h2 tag
}//This closes the nav tag